<div class="new_list text-center" style="margin-top: 30px";>
  <h1><%= @list.name %></h1>
  <p>Movies that you added</p>
</div>

<div class="container">
  <% @list.bookmarks.each do |bookmark| %>
    <div class="movie-card">
      <div class="movie-header" style="background-image: url('<%= bookmark.movie.poster_url %>');">
        <%= image_tag bookmark.movie.poster_url, alt: bookmark.movie.title, class: "movie-img rounded-top", style: "max-width: 100%; height: auto;" %>
      </div>

      <div class="movie-content">
        <div class="movie-content-header">
          <a href="#">
            <h3 class="movie-title"><%= bookmark.movie.title %></h3>
          </a>
        </div>

        <div class="movie-info">
          <div class="info-section">
            <label> Overview</label>
            <span><%= bookmark.movie.overview %></span>
          </div>
        </div>
      </div>

      <div class="new_list text-center">
        <p><strong>Comment: </strong></p>
        <p><%= bookmark.comment %></p>
      </div>
    </div>
  <% end %>
</div>

<div class="container">
  <%= simple_form_for [@list, @bookmark], html: { class: "review-form" } do |f| %>
    <div class="form-inputs">
      <%= f.association :movie, required: true %>
      <%= f.input :comment, placeholder: "Enter a comment about the movie" %>
      <div class="text-center">
        <%= f.submit "Add movie", class: "card-tag" %>
      </div>
    </div>
  <% end -%>
</div>

<div class="container">
  <div class="reviews_list text-center" style="margin-top: 50px;">
    <h1>Reviews List</h1>
  </div>

  <div class="reviews text-center">
    <% @list.reviews.each do |review| %>
      <div class="card-reviews my-3 p-3">
        <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
        <p class="mb-0"><%= review.content %></p>
      </div>
    <% end %>
  </div>

  <div class="review-container">
    <%= simple_form_for [@list, @review] do |f| %>
      <%= f.input :content, as: :text,  input_html: { placeholder: "Write your review", class: 'form-control' }, label: false %>
      <div class="text-center">
        <%= f.submit 'ADD REVIEW', class: "card-tag" %>
      </div>
    <% end %>
  </div>

  <div class="container">
    <div class="d-flex justify-content-between align-items-center" style="margin-top: 50px;">
      <%= link_to "Back to home", lists_path, class: "card-tag" %>
      <div class="list-header">
        <%= link_to "Remove list", list_path(@list), class: "card-tag", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %>
      </div>
    </div>
  </div>
</div>
